#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
    grid-template-areas:
        "headline headline student-picture"
        "student-quote student-quote student-picture"
        "student-profile student-profile student-contact"
        "experience-grid experience-grid experience-grid"
    ;
}

#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-area: experience-grid;
    grid-template-areas:
        "experience-code experience-database"
        "experience-web experience-design"
    ;    
}

#headline {
    grid-area: headline;
}

#student-quote {
    grid-area: student-quote;
}

#student-picture {
    grid-area: student-picture;
    text-align: center;
}

#student-profile {
    grid-area: student-profile;
}

#student-contact {
    grid-area: student-contact;
    text-align: center;
}

#experience-code {
    grid-area: experience-code;
}

#experience-database {
    grid-area: experience-database;
}

#experience-web {
    grid-area: experience-web;
}

#experience-design {
    grid-area: experience-design;
}

@media (max-width: 1024px) {
    
    #main-grid {
        column-gap: 35px;
        grid-template-areas: 
            "headline headline"
            "student-quote student-picture"
            "student-quote student-contact"
            "student-profile student-profile"
            "experience-grid experience-grid"
        ;

    }

    #experience-grid {
        gap: 20px;
        /* grid-area: experience-grid; */
        grid-template-areas: 
            "experience-code experience-web"
            "experience-database experience-design"
        ;
    }

}

@media (max-width: 450px) {
    #main-grid {
        grid-template-areas:
            "headline"
            "student-picture"
            "student-contact"
            "student-quote"
            "student-profile"
            "experience-grid"
        ;
    }

    #experience-grid {
        grid-template-areas:
            "experience-code"
            "experience-web"
            "experience-database"
            "experience-design"
        ;
    }

}